#images {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: ;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1200px, 1fr)); 
    grid-gap: 20px; 
  }
  
  
  /* Media query for adjusting layout on smaller screens */
  @media screen and (max-width: 768px) {
    .container {
      grid-template-columns: 100%; 
     
    } 
  }
  @media screen and (max-width: 768px) {
    img {
      min-height: 15.5rem;
    }
  }
    
  @media screen and (min-width: 1200px) {
    img {
      min-height: 16.375rem;
    }
  }
  
  .card-content {
    padding: 1rem;
  }
  
  .header,
  .subheader {
    margin: 0;
  }