
  
  
  /* mobile */
  @media screen and (max-width: 768px) {
    .card {
      display: grid;
      grid-template-columns: 100%; 
      grid-template-rows: 9 ;
    } 
    .card-content {
      display: grid;
      grid-template-columns: 100%; 
      grid-template-rows: 9 ;
    }
  }
  /*tablet*/
  @media screen and (min-width: 768px) {
    .card {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 4;
    }
    .card-content {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 4;
    }

    img {
      min-height: 15.5rem;
    }
  }
 /*desktop*/   
  @media screen and (min-width: 1200px) {
    img {
      min-height: 16.375rem;
    }
  }
  
  .card-content {
    padding: 1rem;
  }
  
  .header,
  .subheader {
    margin: 0;
  }